{{!< index}}
<nav class="clearfix" role="navigation" role="navigation" style="width:100%">
  {{#if prev}}
    <a class="btn btn-primary btn-square newer-posts" href="{{pageUrl prev}}">&larr; Newer Posts</a>
  {{/if}}
  {{#if next}}
    <a class="btn btn-primary btn-square older-posts pull-right" href="{{pageUrl next}}">Older Posts &rarr;</a>
  {{/if}}
</nav>